<% include partials/header %>
<div class="container">
	<div>
		<h1>Add an Article</h1>
	</div>
	<form action="/articles/add" method="POST">
		<div class="form-group">
			<label for="title">Title</label>
			<input type="text" class="form-control" id="title" name="title" placeholder="Enter a Title" />
		</div>

		<div class="form-group">
			<label for="description">Body(Write a description)</label>
			<textarea
				type="text"
				class="form-control"
				id="description"
				name="description"
               
                rows="7"
			> </textarea>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>


<% include partials/footer %>