<% include partials/header %>
<div class="container">
    <h3 class="text-primary">Welcome to Articles of ALL Kind</h3>
	<a href="/articles/add" class="btn btn-info">ADD A NEW Article</a>
	

	<% articles.forEach(article=>{%>
	<ul class="list-group my-2">
		<li class="list-group-item "><%= article.title %> <a href="/articles/info/<%=article._id%>">More Info >></a></li>
	</ul>
	<% }) %>
</div>

<% include partials/footer %>