body{
    background-color: rgb(224, 228, 224)
}
.alert-error{
    background-color:#ce7c84
}

li>span{
    font-size: 1.25em ;
    font-weight: 700

}

.commentBg{
    background-color: rgba(48, 168, 224,0.5);
   
}

#header{
    font-family: 'Permanent Marker', cursive;
}


.navbar-dark .navbar-nav .nav-link{
   color:#fff 
}

div.form-group{
    margin: 0 0
}